ui = true

listener "tcp" {
  address     = "{{ vault_host }}:8200"
  tls_disable = 1
}

listener "tcp" {
  address     = "127.0.0.1:8200"
  tls_disable = 1
}

storage "file" {
  path = "/mnt/vault/data"
}